/.DS_STORE
scripts/.DS_Store
/boost*
/frameworks
scripts/boost*
scripts/frameworks
scripts/frameworks.built
/scripts/ICUdep.xcworkspace
/scripts/Pods
/scripts/Podfile.lock
scripts/boost_1_76_0.tar.bz2
